/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #155670;
    color: #333;
}

header {
    background-color: #3db370;
    color: #a062f0;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin-bottom: 20px;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

.header-content h1 {
    font-size: 2em;
    margin: 0;
}

.header-content p {
    margin: 10px 0;
}

form input[type="submit"] {
    background-color: #c693d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    padding: 20px;
    background-color: #68e6ed;
    margin: 20px 0;
}

#PROJECTS .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#PROJECTS .project {
    background-color: #c7d993;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    text-align: justify;
    width: 250px;
}

#PROJECTS .project img {
    margin-bottom: 10px;
    border-radius: 5px;
}

#CONTACT {
    padding: 20px;
    background-color: rgba(223, 228, 184, 0.801);
    margin: 20px 0;
}

#CONTACT form {
    max-width: 400px;
    margin: auto;
}
#CONTACT label {
    display: block;
    margin: 10px 0 5px;
}

#CONTACT input, #CONTACT textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e87c51;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
